@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: "Azeret Mono", serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.mt-150 {
  margin-top: 150px;
}
.box-primary {
  width: 850px;
  margin: 0 auto;
}
/* text-styles */
.heading {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.sub-heading {
  font-size: 16px;
  text-align: center;
}
/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.navbar .logo h1 {
  font-size: 28px;
  font-weight: 800;
}
.navbar .resume {
  padding: 10px 15px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #0d1321;
  font-family: "Azeret Mono", serif;
  font-size: 15px;
  cursor: pointer;
}
/* hero style */
.hero {
  background: url(assets/Hero-bg.png);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-repeat: no-repeat; */
}
.hero-container {
  height: 70vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-title {
  font-size: 30px;
  text-align: center;
}
.hero .hero-description {
  font-size: 16px;
  text-align: center;
}
.hero-btn button {
  padding: 20px;
  border: none;
  background-color: #0d1321;
  border-radius: 8px;
  color: #fff;
  font-family: "Azeret Mono", serif;
  cursor: pointer;
}
/* why dev section */
.why-dev {
  padding: 80px 100px;
  background-color: rgba(13, 19, 33, 0.02);
}

.why-dev .why-dev-subtitle {
  margin-bottom: 50px;
}
.why-dev .left h1 {
  font-size: 24px;
  font-weight: bold;
}
.why-dev .left p {
  font-size: 16px;
}
.card {
  background-color: #fff;
  width: 940px;
  margin: 30px auto;
  padding: 50px;
  display: flex;
  gap: 100px;
}
.card .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.card .left button {
  width: fit-content;
  padding: 15px;
  background-color: transparent;
  border: 1px solid black;
  font-family: "Azeret Mono", serif;
  font-size: 16px;
  cursor: pointer;
}
/* inspiration section */
.inspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.inspiration-info p {
  margin-bottom: 50px;
}
.youtube-video iframe {
  width: 1076px;
  height: 550px;
  border-radius: 16px;
  outline: 1px solid rgba(13, 19, 33, 0.2);
  outline-offset: 30px;
}
/* target section */
.target-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.target-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.target-cards .fcard {
  height: 300px;
  width: 350px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
}
.target-cards .fcard:nth-child(2) {
  background-color: rgba(0, 76, 232, 0.05);
}
.target-cards .fcard:nth-child(3) {
  background-color: rgba(255, 223, 0, 0.05);
}

.target .fcard h4 {
  font-size: 24px;
  font-weight: bold;
}
.target .fcard a {
  font-weight: bold;
  color: #000;
}
/* next-target section */
.next-target {
  margin-top: 150px;
}
.box {
  display: flex;
  align-items: center;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  gap: 30px;
  margin-top: 50px;
}
.box-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.box-info h3 {
  font-size: 24px;
  font-weight: bold;
}
.box-info a {
  color: #000;
}
/* support section */
.support {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(assets/handshake.jpg);
  background-size: cover;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.support-container {
  width: 700px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.support-container h1 {
  color: #fff;
}
.support-container p {
  color: #fff;
  font-weight: 100;
  text-align: center;
  width: 600px;
}
.form input[type="text"],
.form input[type="submit"] {
  padding: 15px;
  border: none;
  font-family: "Azeret Mono", serif;
  border-radius: 8px;
}
.form input[type="text"] {
  width: 550px;
}
.form input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
}
/* footer style */
footer {
  background: rgba(13, 19, 33, 0.03);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.social-icons {
  display: flex;
  gap: 20px;
}
