@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: "Azeret Mono", serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* text-styles */
.heading {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.sub-heading {
  font-size: 16px;
  text-align: center;
}
/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.navbar .logo h1 {
  font-size: 28px;
  font-weight: 800;
}
.navbar .resume {
  padding: 10px 15px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #0d1321;
  font-family: "Azeret Mono", serif;
  font-size: 15px;
}
/* hero style */
.hero {
  background: url(assets/Hero-bg.png);
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container {
  height: 70vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-title {
  font-size: 30px;
  text-align: center;
}
.hero .hero-description {
  font-size: 16px;
  text-align: center;
}
.hero-btn button {
  padding: 20px;
  border: none;
  background-color: #0d1321;
  border-radius: 8px;
  color: #fff;
  font-family: "Azeret Mono", serif;
  cursor: pointer;
}
/* why dev section */
.why-dev {
  padding: 80px 100px;
  margin-top: 120px;
  background-color: rgba(13, 19, 33, 0.02);
}
.why-dev .why-dev-title {
  margin: 30px 0;
}
.why-dev .why-dev-subtitle {
  margin: 20px 0 50px 0;
}
.why-dev .left h1 {
  font-size: 24px;
  font-weight: bold;
}
.why-dev .left p {
  font-size: 16px;
}
.card {
  background-color: #fff;
  width: 940px;
  margin: 30px auto;
  padding: 50px;
  display: flex;
  gap: 100px;
}
.card .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.card .left button {
  width: fit-content;
  padding: 15px;
  background-color: transparent;
  border: 1px solid black;
  font-family: "Azeret Mono", serif;
  font-size: 16px;
  cursor: pointer;
}
/* inspiration section */
.inspiration {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.inspiration-info {
  width: 850px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inspiration-info p {
  margin-bottom: 50px;
}
.youtube-video iframe {
  width: 1076px;
  height: 550px;
  border-radius: 16px;
  outline: 1px solid rgba(13, 19, 33, 0.2);
  outline-offset: 30px;
}
